@media only screen and (max-width: 768px) {
  .chief-message img {
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
    width: 150px;
  }
  .landing-cover {
      height: calc(100vh - 86px);
      overflow: hidden;
      background-size: cover;
      background-position: 0%;
  }
  .mb-center{
    text-align: center;
  }
  .header-message h3 {
      font: 500 28px/36px Oswald;
      margin-top: 20px;
  }
  .header-message h1 {
      font: 600 50px/10px storyteller;
  }
  .header-message {
      margin-top: 10vh !important;
  }
  .landing-cover:before {
      content: '';
      background: transparent linear-gradient(180deg, #006A4E12 0%, #044E3A91 55%, #045D45B5 100%) 0% 0% no-repeat padding-box;
      position: absolute;
      height: calc(100vh - 86px);
      width: 100vw;
  }
  .video-background{
    display: none;
  }
  .primary-menu .container{
    padding-left:15px !important;
    padding-right:15px !important;
  }
  .count-content {
      left: 0;
      right: 0;
  }
  .y-bg, .g-bg {
      height: 300px;
  }
  .dual-img-a-left {
      font: 500 18px/31px Oswald !important;
      max-width: 150px;
  }
  .dual-img-a-right span {
      font: 300 14px/6px Rubik !important;
  }
  .dual-img-a-right {
      font: 500 24px/30px Oswald !important;
      right: 40px;
      bottom: 4px;
      max-width: 175px;
  }
  .pub-media div {
       width: 100%; 
  }
  .home-gal {
      padding-right: 15px;
  }
  .logo-item img {
       height: auto; 
  }
  .logo-item {
      padding: 15px;
  }
  .foo-content {
      margin-top: -5px;
      margin-bottom: 0px; 
      background-color: #041c2e;
      text-align: center;
  }
  .foo-logo {
      margin-top: -40px;
      margin-bottom: 40px;
  }
  .vet-dou {
      bottom: 12px;
      max-width: 118px !important;
  }
  .edu-dou {
      font: 500 20px/30px Oswald !important;
      bottom: 8px !important;
      max-width: 100px !important;
      text-align: right;
  }
  .navbar-toggler:focus, .navbar-toggler:hover {
      outline: none;
  }
  .primary-menu .navbar-nav .nav-link {
      padding: 8px 9px;
  }
  .dropdown:hover > .dropdown-menu {
      padding-top: 0px;
  }
  .clearhead {
      height: 49px;
  }
  .yellow-line {
      top: 49px;
  }
  .green-line {
      top: 52px;
  }
.mt-15 {
    margin-top: 15px;
}
}


@media only screen and (min-width: 1515px) {
    .container {
        width: 1360px !important;
        max-width: 1360px !important;
    }
    .full-container{
      width: 100% !important;
      max-width: 100% !important;
    }
    .vertical-ud a {
      padding: 28px 25px !important;
  }
  .chief-card {
      height: 482px !important;
  }
  .chief-card h1 {
      margin-bottom: 28px;
  }
  .col-md-4.col-xs-12.mb-18{
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 1310px) {
    .header-message {
      margin-top: 48vh;
  }
}

@media only screen and (min-width: 1024px) { 
  .landing-cover {
      background-image: none !important;
  }
}